@import-normalize; /* bring in normalize.css styles */

@font-face {
  font-family: Montserrat, sans-serif;
  src: local('Montserrat'),
    url(./fonts/Montserrat-Medium.ttf) format('truetype');
}
@font-face {
  font-family: Verdana-Bold, sans-serif;
  src: local('Montserrat-SemiBold'),
    url(./fonts/Montserrat-SemiBold.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
  padding: 0;
}
